In [ ]:
pip install seaborn

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
# import time
import requests
import re
import seaborn as sns

In [ ]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'

## Page of interest

In [2]:
page = 'https://www.homefacts.com/properties/Georgia/Gwinnett-County/Duluth/30097/Threadstone-Overlook.html'
page2 = 'https://www.homefacts.com/properties/Georgia/Gwinnett-County/Duluth/30097/Threadstone-Overlook-2.html'

In [ ]:
driver = webdriver.Chrome(PATH)
driver.get(page)
print(driver.title)
driver.quit()

In [3]:
r = requests.get(page, verify=False)
r2 = requests.get(page2, verify = False)

soup = bs(r.content)
soup2 = bs(r2.content)

# print(soup.prettify())

C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.homefacts.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.homefacts.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [ ]:
tr = soup.tr
print(tr)

In [ ]:
td = soup.td
print(td)

In [4]:
tbody = soup.tbody
print(tbody.prettify())

<tbody>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7015-Threadstone-Overlook/170969214.html" itemprop="url">
    <span itemprop="streetAddress">
     7015 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $618,231
  </td>
  <td>
   2,681
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7020-Threadstone-Overlook/32398209.html" itemprop="url">
    <span itemprop="streetAddress">
     7020 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $580,016
  </td>
  <td>
   2,384
  </td>
  <td>
   4
  </td>
  <td>
   3
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7025-Threadstone-Overlook/170969215.html" itemprop="url">
    <span itemprop="streetAddress">
     7025 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $625,796
  </td>
  <td>
   2,509
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7030-Threadstone-Overlook/25217114.html" itemprop="url">
    <span itemprop="streetAddress">
     7030 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $607,518
  </td>
  <td>
   2,520
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7035-Threadstone-Overlook/49766039.html" itemprop="url">
    <span itemprop="streetAddress">
     7035 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $549,808
  </td>
  <td>
   2,066
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7040-Threadstone-Overlook/32398208.html" itemprop="url">
    <span itemprop="streetAddress">
     7040 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $615,395
  </td>
  <td>
   2,271
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7045-Threadstone-Overlook/23967419.html" itemprop="url">
    <span itemprop="streetAddress">
     7045 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $573,084
  </td>
  <td>
   2,766
  </td>
  <td>
   3
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7055-Threadstone-Overlook/32398215.html" itemprop="url">
    <span itemprop="streetAddress">
     7055 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $573,873
  </td>
  <td>
   2,452
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7065-Threadstone-Overlook/32398213.html" itemprop="url">
    <span itemprop="streetAddress">
     7065 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $580,499
  </td>
  <td>
   2,176
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7070-Threadstone-Overlook/170969213.html" itemprop="url">
    <span itemprop="streetAddress">
     7070 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $529,113
  </td>
  <td>
   2,409
  </td>
  <td>
   3
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7075-Threadstone-Overlook/32084379.html" itemprop="url">
    <span itemprop="streetAddress">
     7075 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $565,657
  </td>
  <td>
   2,361
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7080-Threadstone-Overlook/149536091.html" itemprop="url">
    <span itemprop="streetAddress">
     7080 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $576,369
  </td>
  <td>
   2,211
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7085-Threadstone-Overlook/7771100.html" itemprop="url">
    <span itemprop="streetAddress">
     7085 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $689,148
  </td>
  <td>
   3,394
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7090-Threadstone-Overlook/43673140.html" itemprop="url">
    <span itemprop="streetAddress">
     7090 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $595,706
  </td>
  <td>
   2,413
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7095-Threadstone-Overlook/46580769.html" itemprop="url">
    <span itemprop="streetAddress">
     7095 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $530,846
  </td>
  <td>
   2,075
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7100-Threadstone-Overlook/171443528.html" itemprop="url">
    <span itemprop="streetAddress">
     7100 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $573,390
  </td>
  <td>
   2,340
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7105-Threadstone-Overlook/49771812.html" itemprop="url">
    <span itemprop="streetAddress">
     7105 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $679,301
  </td>
  <td>
   2,750
  </td>
  <td>
   3
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7110-Threadstone-Overlook/171443527.html" itemprop="url">
    <span itemprop="streetAddress">
     7110 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $611,903
  </td>
  <td>
   2,116
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7115-Threadstone-Overlook/170969216.html" itemprop="url">
    <span itemprop="streetAddress">
     7115 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $644,741
  </td>
  <td>
   2,520
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
 <tr>
  <td itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
   <a href="/address/Georgia/Gwinnett-County/Duluth/30097/7120-Threadstone-Overlook/43516519.html" itemprop="url">
    <span itemprop="streetAddress">
     7120 Threadstone Overlook
    </span>
    ,
    <span itemprop="addressLocality">
     Duluth
    </span>
    ,
    <span itemprop="addressRegion">
     GA
    </span>
    <span itemprop="postalCode">
     30097
    </span>
   </a>
  </td>
  <td>
   $658,602
  </td>
  <td>
   2,512
  </td>
  <td>
   4
  </td>
  <td>
   2
  </td>
 </tr>
</tbody>

In [5]:
tbody2 = soup2.tbody #Second page results. Need to concatenate both page results.

In [ ]:
page_body = soup.body
print(page_body.prettify())

In [ ]:
for child in tbody.descendants:
    print(child)

In [ ]:
item_price = tbody.find_all('span')
print(item_price)

In [ ]:
dollars = soup.findAll(text=re.compile("\$.*"), limit=1)
dollars

In [6]:
for address in tbody.find_all('span'): 
    print(address.string)

7015 Threadstone Overlook
Duluth
GA
30097
7020 Threadstone Overlook
Duluth
GA
30097
7025 Threadstone Overlook
Duluth
GA
30097
7030 Threadstone Overlook
Duluth
GA
30097
7035 Threadstone Overlook
Duluth
GA
30097
7040 Threadstone Overlook
Duluth
GA
30097
7045 Threadstone Overlook
Duluth
GA
30097
7055 Threadstone Overlook
Duluth
GA
30097
7065 Threadstone Overlook
Duluth
GA
30097
7070 Threadstone Overlook
Duluth
GA
30097
7075 Threadstone Overlook
Duluth
GA
30097
7080 Threadstone Overlook
Duluth
GA
30097
7085 Threadstone Overlook
Duluth
GA
30097
7090 Threadstone Overlook
Duluth
GA
30097
7095 Threadstone Overlook
Duluth
GA
30097
7100 Threadstone Overlook
Duluth
GA
30097
7105 Threadstone Overlook
Duluth
GA
30097
7110 Threadstone Overlook
Duluth
GA
30097
7115 Threadstone Overlook
Duluth
GA
30097
7120 Threadstone Overlook
Duluth
GA
30097

In [7]:
for price in tbody.find_all('td'):
    print(price.string)

None
$618,231
2,681
4
2
None
$580,016
2,384
4
3
None
$625,796
2,509
4
2
None
$607,518
2,520
4
2
None
$549,808
2,066
4
2
None
$615,395
2,271
4
2
None
$573,084
2,766
3
2
None
$573,873
2,452
4
2
None
$580,499
2,176
4
2
None
$529,113
2,409
3
2
None
$565,657
2,361
4
2
None
$576,369
2,211
4
2
None
$689,148
3,394
4
2
None
$595,706
2,413
4
2
None
$530,846
2,075
4
2
None
$573,390
2,340
4
2
None
$679,301
2,750
3
2
None
$611,903
2,116
4
2
None
$644,741
2,520
4
2
None
$658,602
2,512
4
2

In [8]:
for price in tbody.find_all('td'):
    price.string
    for dollars in price.findAll(text=re.compile("\$.*"), limit=1):
        print(dollars)

$618,231
$580,016
$625,796
$607,518
$549,808
$615,395
$573,084
$573,873
$580,499
$529,113
$565,657
$576,369
$689,148
$595,706
$530,846
$573,390
$679,301
$611,903
$644,741
$658,602

In [9]:
for address in tbody.find_all('span'):
    print(address.string)
#     for prop in address.findAll(text=re.compile(r"[a-zA-Z]+.*[a-zA-Z]+", re.IGNORECASE)):
#         print(prop)

7015 Threadstone Overlook
Duluth
GA
30097
7020 Threadstone Overlook
Duluth
GA
30097
7025 Threadstone Overlook
Duluth
GA
30097
7030 Threadstone Overlook
Duluth
GA
30097
7035 Threadstone Overlook
Duluth
GA
30097
7040 Threadstone Overlook
Duluth
GA
30097
7045 Threadstone Overlook
Duluth
GA
30097
7055 Threadstone Overlook
Duluth
GA
30097
7065 Threadstone Overlook
Duluth
GA
30097
7070 Threadstone Overlook
Duluth
GA
30097
7075 Threadstone Overlook
Duluth
GA
30097
7080 Threadstone Overlook
Duluth
GA
30097
7085 Threadstone Overlook
Duluth
GA
30097
7090 Threadstone Overlook
Duluth
GA
30097
7095 Threadstone Overlook
Duluth
GA
30097
7100 Threadstone Overlook
Duluth
GA
30097
7105 Threadstone Overlook
Duluth
GA
30097
7110 Threadstone Overlook
Duluth
GA
30097
7115 Threadstone Overlook
Duluth
GA
30097
7120 Threadstone Overlook
Duluth
GA
30097

In [10]:
results2 = []

for prop in tbody.findAll(text=re.compile(r"\d\d\d\d\sThreadstone\sOverlook", re.IGNORECASE)):
    results2.append(prop)
    
for prop in tbody2.findAll(text=re.compile(r"\d\d\d\d\sThreadstone\sOverlook", re.IGNORECASE)):
    results2.append(prop)
    
results2

['7015 Threadstone Overlook',
 '7020 Threadstone Overlook',
 '7025 Threadstone Overlook',
 '7030 Threadstone Overlook',
 '7035 Threadstone Overlook',
 '7040 Threadstone Overlook',
 '7045 Threadstone Overlook',
 '7055 Threadstone Overlook',
 '7065 Threadstone Overlook',
 '7070 Threadstone Overlook',
 '7075 Threadstone Overlook',
 '7080 Threadstone Overlook',
 '7085 Threadstone Overlook',
 '7090 Threadstone Overlook',
 '7095 Threadstone Overlook',
 '7100 Threadstone Overlook',
 '7105 Threadstone Overlook',
 '7110 Threadstone Overlook',
 '7115 Threadstone Overlook',
 '7120 Threadstone Overlook',
 '7125 Threadstone Overlook',
 '7130 Threadstone Overlook',
 '7135 Threadstone Overlook',
 '7140 Threadstone Overlook',
 '7145 Threadstone Overlook',
 '7150 Threadstone Overlook',
 '7160 Threadstone Overlook',
 '7170 Threadstone Overlook',
 '7175 Threadstone Overlook',
 '7180 Threadstone Overlook',
 '7185 Threadstone Overlook',
 '7190 Threadstone Overlook']

In [11]:
results = []

for price in tbody.find_all('td'):
    price.string
    for dollars in price.findAll(text=re.compile("\$.*"), limit=1):
        print(dollars)
        results.append(dollars)

for price in tbody2.find_all('td'):
    price.sting
    for dollars in price.findAll(text=re.compile("\$.*"), limit=1):
        print(dollars)
        results.append(dollars)
        
series1 = pd.Series(results, name = 'Estimated Value')
series2 = pd.Series(results2, name = 'Address')

# series2 = series2.astype(int32)
df = pd.DataFrame({'Address': series2, 'Estimated Value': series1})

$618,231
$580,016
$625,796
$607,518
$549,808
$615,395
$573,084
$573,873
$580,499
$529,113
$565,657
$576,369
$689,148
$595,706
$530,846
$573,390
$679,301
$611,903
$644,741
$658,602
$570,081
$676,072
$606,169
$665,745
$566,141
$606,503
$581,372
$516,718
$592,961
$615,941
$609,353
$622,256

In [ ]:
results # All 32/32 results from both pages. All homes for the street now listed.

In [12]:
df

                      Address Estimated Value
0   7015 Threadstone Overlook        $618,231
1   7020 Threadstone Overlook        $580,016
2   7025 Threadstone Overlook        $625,796
3   7030 Threadstone Overlook        $607,518
4   7035 Threadstone Overlook        $549,808
5   7040 Threadstone Overlook        $615,395
6   7045 Threadstone Overlook        $573,084
7   7055 Threadstone Overlook        $573,873
8   7065 Threadstone Overlook        $580,499
9   7070 Threadstone Overlook        $529,113
10  7075 Threadstone Overlook        $565,657
11  7080 Threadstone Overlook        $576,369
12  7085 Threadstone Overlook        $689,148
13  7090 Threadstone Overlook        $595,706
14  7095 Threadstone Overlook        $530,846
15  7100 Threadstone Overlook        $573,390
16  7105 Threadstone Overlook        $679,301
17  7110 Threadstone Overlook        $611,903
18  7115 Threadstone Overlook        $644,741
19  7120 Threadstone Overlook        $658,602
20  7125 Threadstone Overlook        $570,081
21  7130 Threadstone Overlook        $676,072
22  7135 Threadstone Overlook        $606,169
23  7140 Threadstone Overlook        $665,745
24  7145 Threadstone Overlook        $566,141
25  7150 Threadstone Overlook        $606,503
26  7160 Threadstone Overlook        $581,372
27  7170 Threadstone Overlook        $516,718
28  7175 Threadstone Overlook        $592,961
29  7180 Threadstone Overlook        $615,941
30  7185 Threadstone Overlook        $609,353
31  7190 Threadstone Overlook        $622,256

In [ ]:
df.info()

In [13]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [17]:
df['Estimated Value'] = df['Estimated Value'].apply(convert_currency)

AttributeError: 'float' object has no attribute 'replace'

In [16]:
df

                      Address  Estimated Value
0   7015 Threadstone Overlook         618231.0
1   7020 Threadstone Overlook         580016.0
2   7025 Threadstone Overlook         625796.0
3   7030 Threadstone Overlook         607518.0
4   7035 Threadstone Overlook         549808.0
5   7040 Threadstone Overlook         615395.0
6   7045 Threadstone Overlook         573084.0
7   7055 Threadstone Overlook         573873.0
8   7065 Threadstone Overlook         580499.0
9   7070 Threadstone Overlook         529113.0
10  7075 Threadstone Overlook         565657.0
11  7080 Threadstone Overlook         576369.0
12  7085 Threadstone Overlook         689148.0
13  7090 Threadstone Overlook         595706.0
14  7095 Threadstone Overlook         530846.0
15  7100 Threadstone Overlook         573390.0
16  7105 Threadstone Overlook         679301.0
17  7110 Threadstone Overlook         611903.0
18  7115 Threadstone Overlook         644741.0
19  7120 Threadstone Overlook         658602.0
20  7125 Threadstone Overlook         570081.0
21  7130 Threadstone Overlook         676072.0
22  7135 Threadstone Overlook         606169.0
23  7140 Threadstone Overlook         665745.0
24  7145 Threadstone Overlook         566141.0
25  7150 Threadstone Overlook         606503.0
26  7160 Threadstone Overlook         581372.0
27  7170 Threadstone Overlook         516718.0
28  7175 Threadstone Overlook         592961.0
29  7180 Threadstone Overlook         615941.0
30  7185 Threadstone Overlook         609353.0
31  7190 Threadstone Overlook         622256.0

In [18]:
df.dtypes

Address             object
Estimated Value    float64
dtype: object

In [ ]:
# df['Estimated Value'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

In [19]:
df.describe()

       Estimated Value
count        32.000000
mean     600259.625000
std       43433.701488
min      516718.000000
25%      573313.500000
50%      600937.500000
75%      619237.250000
max      689148.000000